{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static 'style.css' %}">
<link rel="stylesheet" href="{% static 'payment.css' %}">
<script src="https://kit.fontawesome.com/cdad33ee99.js" crossorigin="anonymous"></script>

    <div class="centered-box">
      <div class="content">
        <h1>$99.90/Monthly (Billed $990.90/YR)</h1>
        <a href="https://koji.to/k/8Kfc"><button class="buy-now-btn">Buy Now</button></a>
      </div>
    </div>

    <br />
  <div class="circle-box">
    
    <div class="content">
        <div class="circle"></div>
        <h1 class="free">FREE PLAN</h1>
        <h3>JOIN EXNESS.COM AND GET A PREMIUM ACCOUNT FOR 2-MONTHS</h3>
 
      <p class="instructions">
        <strong>Instructions:</strong><br>
        1. Open a Trading Account with exness.com and fund it with a minimum of $100.<br>
        2. Send us an email to <br>
        <a href="mailto:forextraderhdofficial@gmail.com">forextraderhdofficial@gmail.com</a> with your full name and account number.
      </p>
      <a href="https://one.exness-track.com/a/c_bwzuefba7h"><button class="get-it-now-btn">Get it now!</button></a>
    </div>
  </div>
{% endblock %}